@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

main {
    text-align: center;
}

.header {
    margin-top: 60px;
}

.submit-container {
    margin: 20px;
}

.submit-container h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    color: hsl(0, 0%, 59%)
}

.submit-container span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.submit-container p {
    margin-bottom: 30px;
    font-size: .90rem;
    color: hsl(209, 33%, 12%);
}

.form input {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    padding: 20px;
    width: 300px;
    height: 40px;
    border-radius: 35px;
    border: solid;
    border-width: 1px;
    border-color: hsl(0, 2%, 88%);
}

input::placeholder {
    color: hsl(0, 2%, 88%);
}

.form button {
    cursor: pointer;
    font-size: 15px;
    color: aliceblue;
    background-color: hsl(223, 87%, 63%);
    box-shadow: 0px 5px 5px hsl(223, 100%, 88%);
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 35px;
}

.template-design {
    width: 400px;
}

.footer {
    list-style-type: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer li a{
    color: hsl(223, 87%, 63%);
}

.footer li a:hover {
    background-color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    color: aliceblue; 
}

.footer li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid hsl(223, 100%, 88%);
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.footer li {
    margin: 0 30px;
}

p {
    font-size: 15px
}
